


body {
  
  margin: 0;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Zeyada', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color : rgb(248, 245, 245)
}

code {
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Zeyada', cursive;
}


